body {
  background-color: rgb(25, 27, 28);
  min-width: 300px;
  min-height: 150px;
  color: white;
}
input {
  background-color: #333333;
  border-radius: 5px;
  margin: 3px;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#playbackspeed-lable {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#logo {
  max-width: 350px;
}

table {
  border-collapse: collapse;
}
td {
  padding: 10px 0px 10px 0px;
}

tr:nth-child(1) {
  border-bottom: white;
  /* border-color: white; */
  border-bottom: solid;
}

table > tbody > tr > td:nth-child(2) {
  padding-left: 20px;
  font-size: large;
  display: table-cell;
}

.settings {
  margin-top: 10px;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  width: fit-content;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(141, 141, 141);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#lvlistTxt {
  width: 50px;
  align-self: center;
}

#discord {
  max-width: 45px;
  float: right;
}
